/* https://codepen.io/zhtgithub/pen/BaPWmEZ */

html, body {
  padding: 0;
  margin: 0;
  background-color: #222
}
	

h1 {
  height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-transform: uppercase;
	font-family: "montserrat", sans-serif;
	font-size: 50px;
	font-weight: bold;
}
	

.parallelogram {
  -webkit-transform: skew(-40deg);
	-moz-transform: skew(-40deg);
	-o-transform: skew(-40deg);
	transform: skew(-40deg);
	position: absolute;
	z-index: -9;
}
	

--color1 {
 color: #612271;
}
--color2 {
  color: #43174F;
}
--color3 {
  color: #7B5C83;
}
	
// Mixin
=parallelogram($width, $height, $duration)
	width: $width
	height: $height
	animation: moveBar $duration linear infinite

=mixin($args...)
	-webkit-box-shadow: $args
	-moz-box-shadow: $args
	box-shadow: $args

#one
	+parallelogram(20px, 300px, 15s)
	+mixin(100px 509px $color1, 20px 300px $color1, -120px 150px $color1)

#two
	+parallelogram(10px, 300px, 30s)
	+mixin(250px 450px $color2, -50px 200px $color2)

#three
	+parallelogram(10px, 500px, 20s)
	+mixin(70px 500px $color3, -100px 200px $color3)

@keyframes moveBar
	100%
		transform: skew(-40deg) translateY(-1000px)

